@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.typer {
  font-family: 'VT323', monospace;
  font-size: 2rem;
}
.pointer {
  border-left: 1px solid black;
  width: 10px;
  animation: blink-animation 0.5s steps(5, start) infinite;
  -webkit-animation: blink-animation 0.5s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
